.container {
  margin-top: 30px;
  margin-left: 320px;
  width : 300px;
  height : 370px;
  float : left;
  padding-top : 30px;
  font-size: larger;
  border-style: solid;
  border-color: lightblue;
  border-radius: 8px;
}

img {
  margin-right: 120px;
}

h1 {
  font-weight: bold;
  color:  rgb(4, 143, 153);
  margin-bottom: 40px;
}

.input-group-addon {
  padding-top: 6px;
  background-color: rgb(167, 167, 161);
  width: 40px;
  height: 40px;
  border-color:maroon;
}

input {
  padding: 7px;
  width: 210px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-width: 1px;
}

button {
  margin-top: 10px;
  padding: 5px;
  width : 150px;
  border-radius: 9px;
  background-color:green;
  color: white;
}
