<!--
  @Author - Aradhana Salunkhe
-->

  <div class="container" align=center>
    <h1>LOGIN</h1>

    <form class="examle-form" (ngSubmit)="onSubmit()" >
      <div class="input-group">
        <!--      <div class="input-group-addon" align=center><i class="material-icons">&#xe853;</i></div>-->
        <input class="form-control" type="text"  id="userId" name="userId" placeholder="Enter user id" [(ngModel)]="modelUser.userId" required>
      </div>
      <div class="input-group">
        <!--      <div class="input-group-addon" align=center><i class="material-icons">&#xe897;</i></div>-->
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter password" [(ngModel)]="modelUser.password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login </button>

    </form><br><br>
<!--    <a href="#">Forgot Password ?</a>-->
  </div>

  <div class="image" align=right>
    <img src="../../assets/Payment-Tran.jpg"/>
  </div>






