.sidebar {
  height: 80px ;
  width: 160px;
  /*position: fixed;*/
  /*z-index: 1;*/
  /*left: 10;*/
  background-color: lightgrey;
  overflow-x: hidden;
  margin-top: 10px;
  margin-bottom: 10px;

}

.titleHead{
  float: left;
  margin-left: 20%;
  font-size: x-large;
  font-weight: bold;
  /*height: 300px;*/
}

.sidebarItem{
}

/* Style sidebar links */
.sidebar a {
  padding: 12px 38px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  /*color: #818181;*/
  color: rgb(4, 143, 153);

  alignment: center;
  text-align: center;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

body{
  margin:auto;
  width: 0%;
  padding:0px;
  background-color :#61caec;
  box-align:center;
}
body
{
  font-family:sans-serif;
}
.app-container
{
  width:350px;
  top:10%;
  left:50%;
  margin-top: 1%;
  /*transform:translate:(-50%,-50%);*/
  position:fixed;


}

.top-box
{
  height: 120px;
  background-color:#9100fb;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top:50%;
  left:50%

}

.top-box p
{
  text-align:center;
  padding-top:  20px;
  color:#fff;
}

.right-icon
{
  float:right;
  margin-right:  20px;
}



.payment-option-btn
{
  color: #fff;
  margin: 5px 30px;
  height: 30px;
  width: 290px;
  background-color: #9100fd;
  border: none;
  cursor: pointer;
}

.card-details
{
  background-color: #fff;
  color: #555;
  margin: 10px 30px;
  padding: 10px;
  border-radius: 20px;

}

.card-details p
{
  font-size: 15px;
  height:35px;
  border:2px solid lightgrey;
  border-radius:10px;
  padding-left:10px;

}

.card-details label
{
  font-size: 15px;
  line-height:20px ;
  margin: auto;
  font-weight: bold;


}
.card-num-field-group
{
  margin-top: 10px;
}
.date-field-group
{
  margin-top: 10px;
  display: inline-block;
}
.cvc-field-group
{
  margin-top: 10px;
  display: inline-block;

}
.cvv-field-group
{
  margin-top: 5px;

}
.card-num-field,.name-field
{
  width: 270px; ;
}

.date-field, .cvc-field
{
  width: 80px;
}

.card-details input
{
  height:35px;
  border:2px solid lightgrey;
  border-radius:10px;
  padding-left:10px;
  width: 250px;
}
.card-details input::placeholder
{
  color: #ccc;
  font-size: 120%;
}
.pay-button
{   width: 370px;
  color: #fff;
  margin-top: 20px;
  height: 30px;
  width: 250px;
  background-color: #9100fd;
  border: none;
  cursor: pointer;
  height:35px;
  border-radius:10px;
  padding-left:10px;


}

