<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar" *ngFor="let option of paymentOptions['cardDetails']">
  <a #optionSelected (click)="onClick(option)">{{option}}</a>
</div>

<form name="validate" action="#" onsubmit="required()" *ngIf="showCardFillOption" class="form">
  <div class="titleHead" *ngIf="typeOfPaymentSelected" > Enter {{typeOfPaymentSelected}} details : </div>

  <div class ="app-container">
    <div class="card-details">
      <div class="card-option">
        <label for="card Number">card Number:</label><br>
        <input type="text" class="card-num-field-group"
               id="card Number" placeholder="xxxx-xxxx-xxxx-xxxx"
               maxlength="16"name="card Number"
               oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,
 '$');"required />

        <div class="date-field-group">
          <label id="Expiry Date">Valid Till:</label><br>
          <input type="text" class="date-field-group"
                 placeholder="mm/yy "maxlength="5"
                 name="card Number"
                 oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,
 '$');">
        </div>






        <div class="cvc-field-group">
          <label id="cvc">Enter cvv/cvc:</label><br>
          <input type="password" class="cvc-field" placeholder="xxx" maxlength="3">
        </div>
        <br>
        <br>
        <div class="Name-field-group">
          <label id="card Holder Name">Card Holder Name:</label><br>
          <input type="text" class="Name-field" placeholder="full Name">
        </div>



        <button type="button" class="pay-button"> pay now</button>
      </div>
    </div>
  </div>
</form>
<script>
  function required()
  {
    var empt=document.forms["validate"]["text1"].value;
    if(empt=="")
    {
      alert('input is required');
      return false;
    }
    else{
      return true;
    }
  }
</script>
