
.box {
  width: 40%;
  margin: 0 auto;
  background: rgb(157, 228, 250);
  padding: 35px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
h1,h3 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #3726ce7c;
  margin: 40px 0;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: rgb(235, 84, 209);
  border: 2px solid #190ebd8e;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
footer{
  height:80px;;
  background:#e6e6e6a9;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.button:hover {
  background: rgb(139, 211, 233);
}
