<body>
<div class="box">

  <h1>oops! Something went wrong.</h1>
  <h3>Do you want to make transaction again?</h3>
  <footer>

    <a href="venderApp site url" class="button" >Back</a>
    <a href="Paymentpage.html" class="button">Try Again</a>

  </footer>
</div>
</body>
