<h1 align=center>
  {{title}}
</h1>
<!--<app-login-page></app-login-page>-->
<!--<app-display-products></app-display-products>-->
<!--<app-cart-table></app-cart-table>-->
<router-outlet></router-outlet>
<footer align=center>Author : Slytherin</footer>

