<!-- Author of this HTML: Shubham Anand -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >
<!--<div class="navbar">-->
<!--        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>-->
<!--        <a href="#"><i class="fa fa-fw fa-sign-in"></i> sign-up</a>-->
<!--        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>-->
<!--      </div>-->


  <div>
    <table class="center">
      <thead>
      <th>Product Name</th>
      <th>Rate</th>
      </thead>
      <tr *ngFor="let act of observable">
        <td >{{act.Name}}</td>
        <td >{{act.Rate}}</td>
      </tr>
    </table>
    <h4 align="center"  >Total Cost : {{sum}}</h4>
  </div>
  <div style="text-align:center">
    <button class="button1" type="submit">Proceed to Pay</button>
  </div>
  </body>
